@import 'normolize'
@import 'fonts'
@import 'elements'

main
    position: relative
    z-index: 1
    flex-direction: column
    justify-content: flex-end
    align-items: flex-start
    padding-left: 0
    .logo
        display: none
    @media screen and ( max-width: 1000px )
        background-image: url('../img/main.jpg')
        .logo
            display: block

    .content
        text-align: center
        width: 100%
        max-width: 58%
        min-height: 33vh
        margin: 0
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-between

        @media screen and ( max-width: 1000px )
            min-height: 70vh
            max-width: 100%
            padding: 0 

    .footer
        width: 88%
        max-width: 600px
        text-align: center
        margin: 0 auto

        background-color: rgba(black, .1)
        backdrop-filter: blur(10px)
        border: 1px solid rgba(0, 0, 0, .5)
        border: 1px solid rgba(white, .2)

        border-bottom: none
        padding: 20px 0 30px
        border-radius: 90px 90px 0 0

        display: flex
        align-items: center
        justify-content: center
        gap: 10px

        @media screen and ( max-width: 700px )
            border-radius: 50px 50px 0 0

        a
            display: inline-block
            padding: 10px
            border-radius: 15px
            img
                display: block
                max-width: 40px

            &:last-child
                img
                    max-width: 43px

            &:hover
                background-color: rgba(white, .1)
                transform: scale(1.05)

video
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    position: absolute
    top: 0
    left: 0
    z-index: -1
    object-fit: cover
    pointer-events: none
    &.pc
        display: none
        @media screen and ( min-width: 1000px )
            display: block

.roadmap
    padding: 100px 0
    @media screen and ( max-width: 1000px )
        background-image: url('../img/block_2.jpg')
    .container
        height: 100%
        width: 100%
        display: flex
        align-items: flex-start
        justify-content: center
        flex-wrap: wrap
        gap: 5%

    .heading
        width: 100%
        height: 180px
        object-fit: contain
        margin: 0 auto 20px

    .phase
        width: 550px
        max-width: 40%

    @media screen and ( max-width: 1000px )
        padding: 80px 0

        .heading
            height: 100px
            max-width: 85%
            margin-bottom: 0

        .container
            gap: 30px

        .phase
            max-width: 80%

.empirenomics
    justify-content: center
    padding: 0 20px

    @media screen and ( max-width: 1000px )
        background-image: url('../img/block_3.jpg')

    &__heading
        width: 800px
        max-width: 100%
